<h1>Logs</h1>

<p><%= link_to "New Log", new_log_path %>

<table>
  <tr>
    <th>Entry Name</th>
    <th></th>
    <th></th>
  </tr>

  <% @logs.each do |log| %>
    <tr>
      <td><%= link_to log.entry_name, log_path(log) %></td>
      <td><%= link_to "Edit",         edit_log_path(log) %></td>
      <td><%= link_to "Destroy",      log_path(log),     method: :delete %></td>
    </tr>
  <% end %>
</table>

