<h1><%= @log.entry_name %></h1>

<div class="links">
  <p>
    <%= link_to "Edit",    edit_log_path(@log) %> |
    <%= link_to "Destroy", log_path(@log),     method: :delete %>
  </p>
</div>

<h3>Countries</h3>
<ul>
  <% @log.countries.each do |country| %>
    <li><%= country.name %></li>
  <% end %>
</ul>

